.client {
    padding: 30px 0 60px 0;
}

.client__title {
    font-family: var(--font3);
    font-weight: 700;
    font-size: clamp(1.938rem, 1.836rem + 0.51vw, 2.188rem);
    text-align: center;
    text-transform: uppercase;
    color: var(--dark);
}

.client__list {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.client__item {
}

.client__img {
    cursor: pointer;
    transition: .3s ease;
}

.client__img:hover {
    scale: 1.1;
}

@media screen and (max-width: 669px) {
    .client__list {
        justify-content: center;
        gap: 20px;
    }
}