.card {
    padding: 60px 0;
    display: grid;
    align-items: center;
    gap: 30px;
}

.card__title {
    font-family: var(--font3);
    font-weight: 700;
    font-size: clamp(1.938rem, 1.836rem + 0.51vw, 2.188rem);
    text-transform: uppercase;
    color: var(--dark);
}

.card__info {
}

.card__subtitle {
    font-family: var(--font4);
    font-weight: 600;
    font-size: clamp(0.875rem, 0.799rem + 0.38vw, 1.063rem);
    line-height: 150%;
    color: var(--dark);
}

.card__text {
    padding-top: 8px;
    max-width: 830px;
    font-family: var(--font4);
    font-weight: 500;
    font-size: clamp(0.875rem, 0.799rem + 0.38vw, 1.063rem);
    line-height: 170%;
    color: var(--dark);
}

.card__bold {
    font-weight: 600;
}

.card__imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card__img {
}

.card__list {
    display: grid;
    align-items: center;
    gap: 10px;
}

.card__item {
}

.card__print{
    font-family: var(--font4);
    font-weight: 300;
    font-size: 17px;
    line-height: 150%;
    color: var(--dark);
}

@media screen and (max-width: 669px) {
    .card {
        padding-top: 20px;
        gap: 15px;
    }
}