.crumbs {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.crumbs__link {
    font-weight: 300;
    font-size: 13px;
    color: var(--black);
}

.crumbs__element {
    width: 16px;
    text-align: center;
}

.crumbs__link-active {
    font-weight: 300;
    font-size: 13px;
    color: var(--black);
    opacity: 0.42;
}

.navigation {}

.navigation__list {
    display: grid;
    align-items: center;
}

.navigation__item {
    border-top: 1px solid var(--light-dark);
    max-width: 255px;
    transition: .3s ease;
}

.navigation__item:hover {
    background: rgba(75, 180, 94, 0.1);
}

.navigation__item-link--last {
    border-bottom: 1px solid var(--light-dark);
}

.navigation__link {
    width: 255px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.navigation__link-img {
    width: 20px;
    height: 20px;
}

.navigation__link-text {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    color: var(--primary);
}

.section__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}

@media screen and (max-width: 669px) {
    .navigation {
        display: none;
    }
}