.reviews {
    padding: 60px 0;
}

.reviews__infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%
}

.reviews__info {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.reviews__title {
    font-family: var(--font3);
    font-weight: 700;
    font-size: clamp(1.938rem, 1.836rem + 0.51vw, 2.188rem);
    text-transform: uppercase;
    color: var(--dark);
}

.reviews__btn {
    padding: 10px 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--second-primary);
    border: 1px solid var(--second-primary);
    border-radius: 50px;
    transition: .3s ease;
}

.reviews__btn:hover {
    background: linear-gradient(150deg, #44c34e 0%, var(--second-primary) 100%);
    color: var(--light);
}

.reviews__list {
    padding-top: 30px;
    display: grid;
    align-items: center;
    gap: 30px;
}

.reviews__item {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.reviews__img {
}

.reviews__block {
    padding: 25px;
    display: grid;
    align-items: center;
    gap: 10px;
    background-color: #fffef2;
    border-radius: 10px;
}

.reviews__name {
    font-style: italic;
    font-weight: 400;
    font-size: clamp(0.938rem, 0.862rem + 0.38vw, 1.125rem);
    color: var(--dark);
}

.reviews__date {
    font-weight: 400;
    font-size: clamp(0.75rem, 0.699rem + 0.25vw, 0.875rem);
    color: var(--dark);
}

.reviews__city {
    font-weight: 400;
    font-size: clamp(0.75rem, 0.699rem + 0.25vw, 0.875rem);
    color: var(--dark);
}

.reviews__text {
    display: inline-block;
    max-width: 520px;
    font-weight: 300;
    font-size: clamp(0.813rem, 0.762rem + 0.25vw, 0.938rem);
    line-height: 150%;
    color: var(--dark);
}

.reviews__stars {
}

.reviews__star {
}

.reviews__crumbs {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reviews__number-page {
    padding: 5px;
    font-weight: 400;
    font-size: clamp(0.938rem, 0.862rem + 0.38vw, 1.125rem);
    text-align: center;
    color: var(--second-primary);
}

.reviews__number--active {
    color: var(--black);
    border-bottom: 2px solid var(--black);
}

@media screen and (max-width: 669px) {
    .reviews {
        padding: 30px 0;
    }

    .reviews__item {
        justify-content: center;
    }

    .reviews__img {
        order: -1;
    }

    .reviews__crumbs {
        padding-top: 30px;
    }

    .reviews__block {
        padding: 15px;
    }
}